.location-date-info .info-box .left.ziua {
	box-sizing:border-box;
color:#fbfbfb;
display:block;
float:left;
font-family:Lato, sans-serif;
font-size:14px;
padding-right:3px;
width:76px;
}


.location-date-info .info-box .right.luna {
	box-sizing: border-box;
color:#fbfbfb;
	display: block;
	float: left;
	font-family: Lato, sans-serif;
	font-size: 14px;
	padding-right: 3px;
	width: 150px;

}
.location-date-info .info-box .right.ora {
	box-sizing: border-box;
color:#fbfbfb;
	display: block;
	float: left;
	font-family: Lato, sans-serif;
	font-size: 14px;

	padding-right: 3px;
	width: 82px;
}


#explicatie {
	width:150px;
	float:left;
	margin-bottom:5px;
	height:28px;
	padding-top:5px;
}
#booker #buton #explicatie {
	padding-top:5px;
	width:199px;
	float:left;
}
#booker #buton {
}



#latime {
	width:auto;
}
#country2 {
	width:205px;
	float:right;
	margin-bottom:10px;
	position:relative;

align-items:center;
background-attachment:scroll;
background-clip:border-box;
color:#fbfbfb;
background-image:url(https://www.rentacar.ro/base/select.png);
background-size:auto;
border-bottom-color:rgb(225, 225, 225);
border-bottom-left-radius:4px;
border-bottom-right-radius:4px;
border-bottom-style:solid;
border-bottom-width:1px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(142, 142, 142);
border-left-style:solid;
border-left-width:1px;
border-right-color:rgb(225, 225, 225);
border-right-style:solid;
border-right-width:1px;
border-top-color:rgb(142, 142, 142);
border-top-left-radius:4px;
border-top-right-radius:4px;
border-top-style:solid;
border-top-width:1px;
box-sizing:border-box;
color:rgb(0, 0, 0);
cursor:default;
display:block;
height:28px;
text-align:start;
text-indent:0px;
writing-mode:horizontal-tb;
-webkit-appearance:menulist-button;
-webkit-rtl-ordering:logical;
}
#state {
		position:relative;

	width: 205px;
		float:right;
		align-items:center;
background-attachment:scroll;
background-clip:border-box;
color:#fbfbfb;
background-image:url(https://www.rentacar.ro/base/select.png);

background-size:auto;
border-bottom-color:rgb(225, 225, 225);
border-bottom-left-radius:4px;
border-bottom-right-radius:4px;
border-bottom-style:solid;
border-bottom-width:1px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(142, 142, 142);
border-left-style:solid;
border-left-width:1px;
border-right-color:rgb(225, 225, 225);
border-right-style:solid;
border-right-width:1px;
border-top-color:rgb(142, 142, 142);
border-top-left-radius:4px;
border-top-right-radius:4px;
border-top-style:solid;
border-top-width:1px;
box-sizing:border-box;
color:rgb(0, 0, 0);
cursor:default;
display:block;
height:28px;
text-align:start;
text-indent:0px;
writing-mode:horizontal-tb;
-webkit-appearance:menulist-button;
-webkit-rtl-ordering:logical;

}
#state2 {
		position:relative;

	width: 205px;
		float:right;
		align-items:center;
background-attachment:scroll;
background-clip:border-box;
color:#fbfbfb;
background-image:url(https://www.rentacar.ro/base/select.png);

background-size:auto;
border-bottom-color:rgb(225, 225, 225);
border-bottom-left-radius:4px;
border-bottom-right-radius:4px;
border-bottom-style:solid;
border-bottom-width:1px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(142, 142, 142);
border-left-style:solid;
border-left-width:1px;
border-right-color:rgb(225, 225, 225);
border-right-style:solid;
border-right-width:1px;
border-top-color:rgb(142, 142, 142);
border-top-left-radius:4px;
border-top-right-radius:4px;
border-top-style:solid;
border-top-width:1px;
box-sizing:border-box;
color:rgb(0, 0, 0);
cursor:default;
display:block;
height:28px;
text-align:start;
text-indent:0px;
writing-mode:horizontal-tb;
-webkit-appearance:menulist-button;
-webkit-rtl-ordering:logical;

}

#sameplace  {
padding-top:10px;
padding-bottom:10px;
}


#booker {
	width:auto;
	height:300px;
}
#ct_s1_frm_search h2 {
	color:#FF6600;
}

#booker .checkout-vehicle-info {
	width: auto;
}
#booker .checkout-vehicle-info .location-date-info {
	position:relative;
}

.left.ziua .styled-select-ziua #ziua {
	width: 58px;
	position:relative;

		align-items:center;
background-attachment:scroll;
background-clip:border-box;
color:#fbfbfb;
background-image:url(https://www.rentacar.ro/base/select.png);

background-size:auto;
border-bottom-color:rgb(225, 225, 225);
border-bottom-left-radius:4px;
border-bottom-right-radius:4px;
border-bottom-style:solid;
border-bottom-width:1px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(142, 142, 142);
border-left-style:solid;
border-left-width:1px;
border-right-color:rgb(225, 225, 225);
border-right-style:solid;
border-right-width:1px;
border-top-color:rgb(142, 142, 142);
border-top-left-radius:4px;
border-top-right-radius:4px;
border-top-style:solid;
border-top-width:1px;
box-sizing:border-box;
color:rgb(0, 0, 0);
cursor:default;
display:block;
height:28px;
text-align:start;
text-indent:0px;
writing-mode:horizontal-tb;
-webkit-appearance:menulist-button;
-webkit-rtl-ordering:logical;
}
#buton {
		padding-button:10px;

}

#luna {
	width:130px;
	position:relative;

		align-items:center;
background-attachment:scroll;
background-clip:border-box;
color:#fbfbfb;
background-image:url(https://www.rentacar.ro/base/select.png);

background-size:auto;
border-bottom-color:rgb(225, 225, 225);
border-bottom-left-radius:4px;
border-bottom-right-radius:4px;
border-bottom-style:solid;
border-bottom-width:1px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(142, 142, 142);
border-left-style:solid;
border-left-width:1px;
border-right-color:rgb(225, 225, 225);
border-right-style:solid;
border-right-width:1px;
border-top-color:rgb(142, 142, 142);
border-top-left-radius:4px;
border-top-right-radius:4px;
border-top-style:solid;
border-top-width:1px;
box-sizing:border-box;
color:rgb(0, 0, 0);
cursor:default;
display:block;
height:28px;
text-align:start;
text-indent:0px;
writing-mode:horizontal-tb;
-webkit-appearance:menulist-button;
-webkit-rtl-ordering:logical;
}

select {
    padding-left: 5px;
}

input {
    padding-left: 5px;
}

#ora {
	width:80px;
	position:relative;

		align-items:center;
background-attachment:scroll;
background-clip:border-box;
color:#fbfbfb;
background-image:url(https://www.rentacar.ro/base/select.png);

background-size:auto;
border-bottom-color:rgb(225, 225, 225);
border-bottom-left-radius:4px;
border-bottom-right-radius:4px;
border-bottom-style:solid;
border-bottom-width:1px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(142, 142, 142);
border-left-style:solid;
border-left-width:1px;
border-right-color:rgb(225, 225, 225);
border-right-style:solid;
border-right-width:1px;
border-top-color:rgb(142, 142, 142);
border-top-left-radius:4px;
border-top-right-radius:4px;
border-top-style:solid;
border-top-width:1px;
box-sizing:border-box;
color:rgb(0, 0, 0);
cursor:default;
display:block;
height:28px;
text-align:start;
text-indent:0px;
writing-mode:horizontal-tb;
-webkit-appearance:menulist-button;
-webkit-rtl-ordering:logical;
}

@media (max-width: 767px) {
	#format form {
    background: url(bkgd-header-bottomb.png) repeat-x left top #fff;
}
#explicatie{
		display:none;
	}
	#booker {
    width: auto;
    height: 320px;
    margin-top: -20px;
}
#throw{padding-top:5px;}
#booker #buton {
    margin-top: 10px;
    margin-left: -4px;
}
select#state {
    float: left;
    margin-top: -5px;
}
#format form {
    background: url(bkgd-header-bottomb2.png) repeat-x left top rgba(255, 255, 255, 0);
}
.content.ascunde {
    display: none;
}
}
