<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<header class="top-line">
  <a href="#" class="logo"> <img src="../../main/resources/logo.jpeg">  <!--alt="logo alt"--></a>
  <div class="mobile-menu-btn"><i class="fa fa-bars"></i> MENU</div>
  <nav class="main-menu top-menu">
    <ul>
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
