<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ cars }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/cars" class="btn btn-info">List Cars</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/add-car" class="btn btn-info">Add Car</a>
            </li>
            <li class="list-inline-item" >
                <a routerLink="/add-reservation" class="btn btn-info">Add reservation</a>
            </li>
            <li class="list-inline-item" >
              <a routerLink="/employee" class="btn btn-info">List Employees</a>
            </li>
            <li>
            <a routerLink="/add-employees" class="btn btn-info">Add Employee</a>
            </li>
            li class="list-inline-item" >
            <li class="list-inline-item" >
              <a routerLink="/add-refund" class="btn btn-info">Add refund</a>
            </li>

            <!-- <li class="list-inline-item">
              <a routerLink="/edit-car" class="btn btn-info" >Edit Car</a>
            </li> -->

          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
