<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #customerForm="ngForm">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" [(ngModel)]="customer.firstName"
               class="form-control"
               id="firstName"
               name="firstName"
               placeholder="Enter customer's first name"
               required #firstName="ngModel">
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" [(ngModel)]="customer.lastName"
               class="form-control"
               id="lastName"
               name="lastName"
               placeholder="Enter customer's last name"
               required #lastName="ngModel">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="customer.email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Enter customer's email"
               required #email="ngModel">
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" [(ngModel)]="customer.address"
               class="form-control"
               id="address"
               name="address"
               placeholder="Enter customer's address"
               required #address="ngModel">
      </div>


      <div [hidden]="!firstName.pristine" class="alert alert-danger"> All fields are required</div>

      <button type="submit" [disabled]="!customerForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
