.hero {
  background-image: url("../../assets/pictures/ferrariportofinom.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3rem;
  min-height: 100vh;
}
.title{
  color:#eeeeee;

}

