<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #reservationForm="ngForm">
<!--      <div class="form-group">-->
<!--        <label for="customer">Customer</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          [(ngModel)]="reservation.customer"-->
<!--          class="form-control"-->
<!--          id="customer"-->
<!--          name="customer"-->
<!--          placeholder="Enter customer's reservation"-->
<!--          required-->
<!--          #customer="ngModel"-->
<!--        />-->
<!--      </div>-->

      <div style="display: flex; justify-content: space-between; gap: 1rem">
        <div class="form-group" style="width: 50%">
          <label for="dateFrom">Date From</label>
          <input
            type="date"
            [(ngModel)]="reservation.dateFrom"
            class="form-control"
            id="dateFrom"
            name="dateFrom"
            placeholder="Enter Date From"
            required
            #dateFrom="ngModel"
          />
        </div>
        <div class="form-group" style="width: 50%">
          <label for="dateTo">Date To</label>
          <input
            type="date"
            [(ngModel)]="reservation.dateTo"
            class="form-control"
            id="dateTo"
            name="dateTo"
            placeholder="Enter Date To"
            required
            #dateTo="ngModel"
          />
        </div>
      </div>
<!--      <div style="display: flex; justify-content: space-between; gap: 1rem">-->
<!--        <div class="form-group" style="width: 50%">-->
<!--          <label for="branchOfLoan">Branch Of Loan</label>-->
<!--          <input-->
<!--            type="text"-->
<!--            [(ngModel)]="reservation.branchOfLoan"-->
<!--            class="form-control"-->
<!--            id="branchOfLoan"-->
<!--            name="branchOfLoan"-->
<!--            placeholder="Enter Branch Of Loan"-->
<!--            required-->
<!--            #branchOfLoan="ngModel"-->
<!--          />-->
<!--        </div>-->
<!--        <div class="form-group" style="width: 50%">-->
<!--          <label for="returnBranch">Return Branch</label>-->
<!--          <input-->
<!--            type="text"-->
<!--            [(ngModel)]="reservation.returnBranch"-->
<!--            class="form-control"-->
<!--            id="returnBranch"-->
<!--            name="returnBranch"-->
<!--            placeholder="Enter Return Branch"-->
<!--            required-->
<!--            #returnBranch="ngModel"-->
<!--          />-->
<!--        </div>-->
<!--      </div>-->
      <div style="display: flex; justify-content: space-between; gap: 1rem">
<!--        <div class="form-group" style="width: 50%">-->
<!--          <label for="totalAmount">Total Amount</label>-->
<!--          <input-->
<!--            type="text"-->
<!--            [(ngModel)]="reservation.totalAmount"-->
<!--            class="form-control"-->
<!--            id="totalAmount"-->
<!--            name="totalAmount"-->
<!--            placeholder="Enter Total Amount"-->
<!--            required-->
<!--            #totalAmount="ngModel"-->
<!--          />-->
<!--        </div>-->

<!--        <div class="form-group" style="width: 50%">-->
<!--          <label for="warranty">Warranty</label>-->
<!--          <input-->
<!--            type="text"-->
<!--            [(ngModel)]="reservation.warranty"-->
<!--            class="form-control"-->
<!--            id="warranty"-->
<!--            name="warranty"-->
<!--            placeholder="Enter Warranty"-->
<!--            required-->
<!--            #warranty="ngModel"-->
<!--          />-->
<!--        </div>-->
      </div>

<!--      <div [hidden]="!customer.pristine" class="alert alert-danger">-->
<!--        All fields are required-->
<!--      </div>-->
      <button
        type="submit"
        [disabled]="!reservationForm.form.valid"
        class="btn btn-info"
      >
        RESERVE NOW!
      </button>
    </form>
  </div>
</div>
